.title-modal {
  margin: 0;
  margin: 10;
  font-size: 35px;
}

.label-date {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.modal {
  max-height: 615 !important
}

.react-datepicker-wrapper {
  display: block !important;
}
